use Mix.Config

config :ueberauth, Ueberauth.Strategy.Twitter.OAuth,
  consumer_key: "abc",
  consumer_secret: "def"

config :extwitter, :oauth, [
   consumer_key: "abc",
   consumer_secret: "def",
]
